<div class="w-64 h-screen text-black flex flex-col">     
  <nav class="flex-1 justify-center items-center py-2 space-y-12 bg-white shadow-lg">
    <div class="flex items-center justify-center h-16">
      <h1 class="text-2xl font-bold uppercase">Glamora</h1>
    </div>
    <div class="flex flex-col space-y-3">
      <a 
        routerLink="/adminHome" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-6 rounded-3xl text-medium font-semibold transition">
        <img src="images/dashboard.svg" class="w-6 h-6 mr-2" alt="dashboard icon">
        Dashboard
      </a>
      <a 
        routerLink="/appointment" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-6 rounded-3xl text-medium font-semibold  transition">
        <img src="images/appointments.svg" class="w-6 h-6 mr-2" alt="appointments icon">
        Appointments
      </a>
      <a 
        routerLink="/branches" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-6 rounded-3xl text-medium font-semibold  transition">
        <img src="images/branches.svg" class="w-5 h-5 mr-3" alt="branch icon">
        Branches
      </a>
      <a 
      routerLink="/employees" 
      routerLinkActive="active" 
      class="flex items-center py-2 px-6 rounded-3xl text-medium font-semibold  transition">
      <img src="images/employees.svg" class="w-6 h-6 mr-2" alt="employee icon">
      Employees
    </a>

      <a 
        routerLink="/managers" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-6 rounded-3xl text-medium font-semibold  transition">
        <img src="images/managers.svg" class="w-6 h-6 mr-2" alt="branch icon">
        Managers
      </a>

      <a 
        routerLink="/customers" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-6 rounded-3xl text-medium font-semibold  transition">
        <img src="images/customers.svg" class="w-6 h-6 mr-2" alt="customers icon">
        Customers
      </a>     
      <a 
        routerLink="/services" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-6 rounded-3xl text-medium font-semibold  transition">
        <img src="images/services.svg" class="w-6 h-6 mr-2" alt="services icon">
        Services
      </a>
      <a 
        routerLink="/inventory" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-6 rounded-3xl text-medium font-semibold  transition">
        <img src="images/inventory.svg" class="w-6 h-6 mr-2" alt="inventory icon">
        Inventory
      </a>
      <a 
        routerLink="/analytics" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-6 rounded-3xl text-medium font-semibold  transition">
        <img src="images/analytics.svg" class="w-6 h-6 mr-2" alt="analytics icon">
        Analytics
      </a>
    </div>
    <div>
      <a (click)="logout()"
       class="flex items-center py-3 px-6 rounded-3xl text-medium font-semibold  transition">
        <img src="images/logout.svg" class="w-6 h-6 mr-2" alt="logout icon">
        Logout
      </a>
    </div>
  </nav>          
</div>
