<div class="w-auto h-auto p-6">
    <h2 class="text-2xl font-bold text-center mb-4">Select a Time Slot</h2>
  
    <div class="flex justify-center">
      <p class="text-lg">Available slots for {{ selectedDate }}:</p>
    </div>
  
    <div class="flex flex-wrap justify-center gap-4 mt-6">
      <button *ngFor="let slot of availableSlots" 
        (click)="selectSlot(slot)"
        class="px-6 py-3 rounded-lg border text-lg font-semibold"
        [ngClass]="{'bg-blue-600 text-white': selectedSlot === slot, 'bg-white text-black border-gray-300': selectedSlot !== slot}">
        {{ slot.start_time }} - {{ slot.end_time }}
      </button>
    </div>
  
    <div class="w-full flex justify-center mt-6">
      <button (click)="confirmBooking()" 
        class="px-6 py-3 bg-green-600 text-white rounded-lg font-bold">
        Confirm Appointment
      </button>
    </div>
  </div>
  