<div class="w-full flex flex-row overflow-hidden bg-[#F2F2F2]">
    <div>
      <app-sidebar></app-sidebar>
    </div>
    <div class="w-full">
      <app-topbar></app-topbar>
      <div class="px-6">
        <div class="w-full bg-white mt-12 rounded-[30px] p-6">
          <div class="flex flex-row items-center justify-between">
            <h1 class="text-xl font-bold text-black">Customers</h1>
            <div>
              <input type="text" class="p-3 rounded-[30px] border border-gray-400" placeholder="Search...">
            </div>
            <button class="bg-[#6482AD] text-white font-semibold px-4 py-2 rounded-[30px]">Add Customer</button>
          </div>
          <table class="w-full mt-6 rounded-[30px]">       
            <thead>
              <tr>
                <th class="py-4 px-8 border-b-2 border-gray-200 text-left text-lg font-semibold text-gray-700">ID</th>
                <th class="py-4 px-8 border-b-2 border-gray-200 text-left text-lg font-semibold text-gray-700">Name</th>
                <th class="py-4 px-8 border-b-2 border-gray-200 text-left text-lg font-semibold text-gray-700">Contact</th>
                <th class="py-4 px-8 border-b-2 border-gray-200 text-left text-lg font-semibold text-gray-700">Total Visits</th>
                <th class="py-4 px-8 border-b-2 border-gray-200 text-left text-lg font-semibold text-gray-700">Loyalty Points</th>
                <th class="py-4 px-8 border-b-2 border-gray-200 text-left text-lg font-semibold text-gray-700">Action</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>   
</div>