<div class="w-64 h-screen text-black flex flex-col">     
  <nav class="flex-1 justify-center items-center py-2 space-y-12 bg-white shadow-lg">
    <div class="flex items-center justify-center h-20">
      <h1 class="text-2xl font-bold uppercase">Glamora</h1>
    </div>
    <div class="flex flex-col px-6 space-y-3">
      <a 
        routerLink="/managerHome" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-4 rounded-lg text-medium font-semibold hover:bg-blue-500 transition">
        <img src="images/dashboard.svg" class="w-6 h-6 mr-2" alt="dashboard icon">
        Dashboard
      </a>
      <a 
        routerLink="/managerAppointment" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-4 rounded-lg text-medium font-semibold hover:bg-blue-500 transition">
        <img src="images/appointments.svg" class="w-6 h-6 mr-2" alt="appointments icon">
        Appointments
      </a>
      <a 
        routerLink="/managerCustomers" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-4 rounded-lg text-medium font-semibold hover:bg-blue-500 transition">
        <img src="images/customers.svg" class="w-6 h-6 mr-2" alt="customers icon">
        Customers
      </a>
      <a 
        routerLink="/managerEmployees" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-4 rounded-lg text-medium font-semibold hover:bg-blue-500 transition">
        <img src="images/employees.svg" class="w-6 h-6 mr-2" alt="employees icon">
        Employees
      </a>
      <a 
        routerLink="/managerServices" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-4 rounded-lg text-medium font-semibold hover:bg-blue-500 transition">
        <img src="images/services.svg" class="w-6 h-6 mr-2" alt="services icon">
        Services
      </a>
      <a 
        routerLink="/managerInventory" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-4 rounded-lg text-medium font-semibold hover:bg-blue-500 transition">
        <img src="images/inventory.svg" class="w-6 h-6 mr-2" alt="inventory icon">
        Inventory
      </a>
      <a 
        routerLink="/managerAnalytics" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-4 rounded-lg text-medium font-semibold hover:bg-blue-500 transition">
        <img src="images/analytics.svg" class="w-6 h-6 mr-2" alt="analytics icon">
        Analytics
      </a>
    </div>
    <div class="px-6">
      <a href="#" class="flex items-center py-2 px-4 rounded-lg text-medium font-semibold hover:bg-blue-500 transition">
        <img src="images/logout.svg" class="w-6 h-6 mr-2" alt="logout icon">
        Logout
      </a>
    </div>
  </nav>          
</div>
