<div class="w-full h-screen flex flex-row  bg-[#F2F2F2]">
<app-sidebar></app-sidebar>
    <div class="w-full">
      <app-topbar></app-topbar>
      <div class="px-6">
       
          <div class="w-full bg-white mt-6 rounded-[30px] p-6">
            <div class="flex flex-row gap-12">
              <h1 class="text-xl font-semibold text-black">Today's Appointments</h1>
              <div>
                <input type="text" class="p-[12px] rounded-[30px] border border-gray-400" placeholder="Search...">
              </div>
            </div>
            <table class="w-full mt-6 rounded-[30px]">       
              <thead>
                <tr>
                  <th class="py-4 px-8 border-b-2 border-gray-200 text-left text-medium font-semibold text-gray-700">Client Name</th>
                  <th class="py-4 px-8 border-b-2 border-gray-200 text-left text-medium font-semibold text-gray-700">Service</th>
                  <th class="py-4 px-8 border-b-2 border-gray-200 text-left text-medium font-semibold text-gray-700">Start</th>
                  <th class="py-4 px-8 border-b-2 border-gray-200 text-left text-medium font-semibold text-gray-700">End</th>
                  <th class="py-4 px-8 border-b-2 border-gray-200 text-left text-medium font-semibold text-gray-700">Payment Status</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
      
  