<div class="w-[90%] h-[80px] relative z-10 left-[120px] top-[23px] rounded-[32px] bg-[#6482ad]/30">                 
    <a class="absolute left-[331px] top-[25px] text-base font-medium text-center text-black cursor-pointer hover:text-blue-600">
      HOME
    </a>
    <a class="absolute left-[422px] top-[25px] text-base font-medium text-center text-black cursor-pointer hover:text-blue-600">
      ABOUT US
    </a>
    <a class="absolute left-[540px] top-[25px] text-base font-medium text-center text-black cursor-pointer hover:text-blue-600">
      CONTACT
    </a>
    <a class="absolute left-[659px] top-[25px] text-base font-medium text-center text-black cursor-pointer hover:text-blue-600">
      SHOP
    </a>
  <div class="flex justify-start items-start absolute left-[900px] top-[12px] text-black">
    <button class="text-[15px] font-bold text-left  px-[53px] py-[18px] bg-[#6482ac]" routerLink="login">Log In</button>
    <button class="text-[15px] font-bold mx-8 px-[53px] py-[18px] hover:bg-[#6482ad] border border-black rounded-[40px]">Book Now</button>
  </div>  
</div>