<div>
<div class="w-[598px] h-[495px]">
    <div class="flex justify-start items-center self-stretch flex-grow relative p-2 rounded-[10px] bg-[#6482ad]/30">     
        <p class="flex-grow w-[1133px] text-xl text-left text-black">Search</p>
      </div>
</div>
<p class="w-[730px] h-[114px] text-[56px] font-semibold text-left text-white">
  Select Preferred Services
</p>
<div class="w-[1503px] h-[1215px]">
  <div class="flex flex-col justify-start items-start w-[1177px] h-[74px] absolute  top-[1304px] gap-2.5">
    
  </div>
  <div class="flex justify-center items-center w-[942px] h-[129px] absolute top-[1471px] rounded-xl bg-white border border-[#cfcfcf]">
    <div class="flex-grow-0 flex-shrink-0 w-[108px] h-[100px] absolute left-[15px] top-4 rounded-[15px] bg-cover bg-no-repeat bg-center"></div>
    <div class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 h-[129px] absolute left-[123px] top-0 gap-[18px] px-6 py-4">
      <div class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 w-[460px] relative gap-2">
        <p class="flex-grow-0 flex-shrink-0 w-[134px] text-lg font-semibold text-left text-black">
          Haircut
        </p>
        <p class="flex-grow-0 flex-shrink-0 w-[460px] text-sm text-left text-[#666]">
          Approximate Time (20-30 mins)
        </p>
      </div>
      <p class="flex-grow-0 flex-shrink-0 w-[217px] h-[25px] text-sm text-left text-black">
        Price - Rs.600
      </p>
      <div class="flex-grow-0 flex-shrink-0 w-[460px] h-0.5 bg-[#e6e6e6]"></div>
    </div>
  </div>
  <div class="flex justify-center items-center w-[942px] h-[131px] absolute top-[1647px] rounded-xl bg-white border border-[#cfcfcf]">
    <div class="flex-grow-0 flex-shrink-0 w-[108px] h-[100px] absolute left-[15px] top-4 rounded-[15px] bg-cover bg-no-repeat bg-center"></div>
    <div class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 h-[131px] absolute left-[123px] top-0 gap-[18px] px-6 py-4">
      <div class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 w-[460px] relative gap-2">
        <p class="flex-grow-0 flex-shrink-0 w-[134px] text-lg font-semibold text-left text-black">
          Hair Coloring
        </p>
        <p class="flex-grow-0 flex-shrink-0 w-[460px] text-sm text-left text-[#666]">
          Approximate Time (20-30 mins)
        </p>
      </div>
      <p class="flex-grow-0 flex-shrink-0 w-[217px] h-[25px] text-sm text-left text-black">
        Price - Rs.600
      </p>
      <div class="flex-grow-0 flex-shrink-0 w-[460px] h-0.5 bg-[#e6e6e6]"></div>
    </div>
  </div>
  <div class="flex justify-center items-center w-[942px] h-[131px] absolute top-[1823px] rounded-xl bg-white border border-[#cfcfcf]">
    <div class="flex-grow-0 flex-shrink-0 w-[108px] h-[100px] absolute left-[15px] top-4 rounded-[15px] bg-cover bg-no-repeat bg-center"></div>
    <div class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 h-[147px] absolute left-[123px] top-0 gap-[18px] px-6 py-4">
      <div class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 w-[460px] relative gap-2">
        <p class="flex-grow-0 flex-shrink-0 w-[134px] text-lg font-semibold text-left text-black">
          Shaving
        </p>
        <p class="flex-grow-0 flex-shrink-0 w-[460px] text-sm text-left text-[#666]">
          Approximate Time (20-30 mins)
        </p>
      </div>
      <p class="flex-grow-0 flex-shrink-0 w-[217px] h-[25px] text-sm text-left text-black">
        Price - Rs.600
      </p>
      <div class="flex-grow-0 flex-shrink-0 w-[460px] h-0.5 bg-[#e6e6e6]"></div>
    </div>
  </div>
  <div class="flex justify-center items-center w-[942px] h-[131px] absolute top-[2167px] pl-[5px] rounded-xl bg-white border border-[#cfcfcf]">
    <div class="flex-grow-0 flex-shrink-0 w-[108px] h-[100px] absolute left-[15px] top-4 rounded-[15px] bg-cover bg-no-repeat bg-center"></div>
    <div class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 h-[147px] absolute left-[123px] top-0 gap-[18px] px-6 py-4">
      <div class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 w-[460px] relative gap-2">
        <p class="flex-grow-0 flex-shrink-0 w-[147px] text-lg font-semibold text-left text-black">
          Head Massage
        </p>
        <p class="flex-grow-0 flex-shrink-0 w-[460px] text-sm text-left text-[#666]">
          Approximate Time (20-30 mins)
        </p>
      </div>
      <p class="flex-grow-0 flex-shrink-0 w-[217px] h-[25px] text-sm text-left text-black">
        Price - Rs.600
      </p>
      <div class="flex-grow-0 flex-shrink-0 w-[460px] h-0.5 bg-[#e6e6e6]"></div>
    </div>
  </div>
  <div class="flex justify-center items-center w-[942px] h-[131px] absolute top-[1997px] rounded-xl bg-white border border-[#cfcfcf]">
    <div class="flex-grow-0 flex-shrink-0 w-[108px] h-[100px] absolute left-[15px] top-4 rounded-[15px] bg-cover bg-no-repeat bg-center"></div>
    <div class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 h-[147px] absolute left-[123px] top-0 gap-[18px] px-6 py-4">
      <div class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 w-[460px] relative gap-2">
        <p class="flex-grow-0 flex-shrink-0 w-[134px] text-lg font-semibold text-left text-black">
          Beard Trim
        </p>
        <p class="flex-grow-0 flex-shrink-0 w-[460px] text-sm text-left text-[#666]">
          Approximate Time (20-30 mins)
        </p>
      </div>
      <p class="flex-grow-0 flex-shrink-0 w-[217px] h-[25px] text-sm text-left text-black">
        Price - Rs.600
      </p>
      <div class="flex-grow-0 flex-shrink-0 w-[460px] h-0.5 bg-[#e6e6e6]"></div>
    </div>
  </div>
  <div class="flex justify-start items-center w-[61px] h-[27px] absolute top-[1490px] gap-2.5 p-2.5">
    <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 w-8 h-8 absolute left-3.5 top-[27px]">
      <div class="flex justify-center items-center self-stretch flex-grow relative rounded-md bg-[#847ae3]">
      </div>
    </div>
    <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 w-8 h-8 absolute left-3.5 top-96">
      <div class="flex justify-center items-center self-stretch flex-grow relative rounded-md bg-[#847ae3]">      
      </div>
    </div>
    <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 w-8 h-8 absolute left-[15px] top-[720px]">
      <div class="flex justify-center items-center self-stretch flex-grow relative rounded-md bg-[#847ae3]">       
      </div>
    </div>
  </div>
  <div class="flex justify-center items-center w-6 h-6 absolute top-[1711px]">
    <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 w-[22px] h-[22px] relative rounded-md bg-white border border-[#616161]">
      <div class="flex-grow-0 flex-shrink-0 w-0.5 h-0.5 relative"></div>
    </div>
  </div>
  <div class="flex justify-center items-center w-6 h-6 absolute top-[2058px]">
    <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 w-[22px] h-[22px] relative rounded-md bg-white border border-[#616161]">
      <div class="flex-grow-0 flex-shrink-0 w-0.5 h-0.5 relative"></div>
    </div>
  </div>
  <div class="w-[466px] h-[109px] absolute top-[2409.5px] rounded-[40px] bg-[#847ae3]"></div>
  <p class="w-[314px] h-[39px] absolute top-[2452px] text-[35px] font-bold text-center text-black">
    CONFIRM
  </p>
</div>
<div class="w-[1728px] h-[555px] bg-[#02060c]"></div>
</div>