::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
  
  @keyframes slidefromDown{
    from{
      transform: translateY(300px);
    }
    to{
      transform: translateY(0);
    }
  }

  @keyframes slidefromLeft{
    from{
      transform: translateX(-200px);
    }
    to{
      transform: translateX(0);
    }
  }

  @keyframes slidefromRight{
    from{
      transform: translateX(200px);
    }
    to{
      transform: translateX(0);
    }
  }

  #hero{
    animation: slidefromDown 6s ease ;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
  }

  #hero2{
    animation: slidefromRight   6s ease ;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
  }

  #heroImage{
    animation: slidefromRight 1s ease;
  }

  #bookNow{
    animation: slidefromLeft 2s ease;
  }

  #services{
    animation: slidefromDown 4s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }

  #products{
    animation: slidefromDown 4s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
  }

#sp_image {
    animation: slidefromRight 5s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 70%;
}

#sp_text {
    animation: slidefromLeft 5s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 70%;
}

.custom-arrow {
    @apply absolute top-1/2 transform -translate-y-1/2 p-3 bg-black/50 rounded-full transition hover:bg-black/70;
}

.left-arrow {
    @apply left-5;
}

.right-arrow {
    @apply right-5;
}


