<div>
  <div class="w-full h-auto py-8">      
<app-header></app-header>    
    <div class="w-full h-[100px] py-9 bg-[#6482ad]/30 mt-12">
      <p class="text-[30px] text-center font-bold text-black">
        Choose a Location
      </p>
    </div>

    <!-- Flex container for cards -->
    <div class="flex flex-wrap justify-center gap-8 mt-12">
      <div *ngFor="let branch of branches" class="flex flex-col w-[340px] h-auto rounded-3xl bg-white border border-black/[0.24]">
        <img src={{branch.image_url}} class="self-stretch h-[342px] object-cover" />
        
        <div class="flex flex-col w-full items-center px-2 my-1">
          <p class="w-full h-auto text-[20px] font-semibold text-center text-[black]">
            {{branch.branch_name}}
          </p>
          <p class="w-full h-auto text-[14px] text-center text-[#333333]">
            {{branch.address}}
          </p>
          <p class="w-full h-auto text-[13px] text-center font-bold text-[#333333]">
            Work Hours: {{ branch.open_time | slice:0:5 }} - {{ branch.close_time | slice:0:5 }}
          </p>
        </div>
        
        <div class="w-full flex justify-center my-2">
          <button class="w-[249px] h-[40px] rounded-[10px] bg-[#0056B3] text-[10] font-semibold text-white"
            (click)="onSelectBranch(branch)">                
            Select           
          </button>
        </div>         
      </div>                  
    </div>          
  </div>

  <!-- <app-footer></app-footer> -->
</div>
