<div>
  <div class="w-full h-auto">      
<app-header></app-header>    
  <div class="w-full py-6">
    <p class="text-4xl text-center font-bold text-[#176B87]">
    Choose a location  
    </p>
  </div>

  <div class="flex flex-wrap justify-center gap-8 mt-4">
    <div *ngFor="let branch of branches" 
        class="w-[400px] h-auto rounded-xl bg-white shadow-lg hover:shadow-xl transition-all duration-300 overflow-hidden border border-gray-200">
      
      <img [src]="branch.image_url" alt="{{ branch.branch_name }}" 
        class="w-full h-48 object-cover">
      
      <div class="p-4 text-center">
        <p class="text-xl font-semibold text-gray-900">{{ branch.branch_name }}</p>
        <p class="text-sm text-gray-600">{{ branch.address }}</p>
        <p class="text-sm font-medium text-gray-700 mt-1">
          🕒 {{ branch.open_time | slice:0:5 }} - {{ branch.close_time | slice:0:5 }}
        </p>
      </div>
      
      <div class="w-full flex justify-center pb-4">
        <button 
          class ="w-[80%] py-2 rounded-lg bg-blue-600 text-white text-lg font-semibold transition-all duration-300 hover:bg-blue-700 "
          (click)="onSelectBranch(branch)">                
          Select Branch
        </button>
      </div>         
    </div>                  
  </div>            
  </div>

</div>
