<div class="w-full ">
  <div class="h-[400px] flex flex-col justify-center items-center w-full bg-[#422a3c]">
    <p class="text-[55px] font-bold text-white">
      <span
        class="text-[55px] font-bold text-white"
        >We Are Ready To Assist</span
      ><br />
    </p>
    <p class=" text-[15px] font-semibold uppercase text-white">
      GET IN TOUCH WITH US
    </p> 
  </div>

  <div class="w-full flex flex-col justify-center items-center w-[777px] relative gap-5 mt-16">
    <p class=" text-[45px] font-bold  text-[#141414]">
      We are here to help you always...
    </p>
    <p class="h-24 text-lg text-[#141414]">
      Start Your Journey With Us. Contact Us for Expert Hair Care and Personalized Services.
    </p>
  </div>
        
  <div class="w-full flex flex-col px-[400px] gap-5 text-left items-start justify-center mt-12 mb-24">
    <div class="flex justify-center items-center gap-5">
        <p class="text-2xl font-bold text-[#141414]">
          Visit Us :
        </p>
        <p class="text-[17px] font-medium uppercase text-black">
          <span class="text-[17px] font-medium text-left uppercase text-black">
            No. 50D , Main street Colombo 07.
            </span
          ><br />
          <span class="text-[17px] font-medium uppercase text-black">
            &#x26;</span>
            <br />
            <span class=" text-[17px] font-medium  uppercase text-black">
              No.334, Colombo road, kegalle</span>
        </p>
    </div>
      <div class="flex justify-center items-center gap-5">
        <p class="text-2xl font-bold text-[#141414]">
          Drop Us :
        </p>
        <p class="text-[17px] font-medium uppercase text-black">
          supportglamora.com
        </p>
      </div>
        <div class="flex flex justify-center items-center gap-5">
          <p class=" text-2xl font-bold text-[#141414]">
            Call Us :
          </p>
          <p class="text-[17px] font-medium uppercase text-black">
            (+94) 11 - 6767 - 900
          </p>
        </div>
  </div>
  <div>
    <img src="images/contact1.png" class="w-full h-auto " />
  </div>
 
</div>