<div class="w-full h-screen flex flex-row  bg-[#F2F2F2]">
  <app-sidebar></app-sidebar>
  <div class="w-full">
    <app-topbar></app-topbar>
    <div class="px-6">
      <div class="flex flex-row gap-8 px-6">
        <div class="flex flex-col space-y-2 justify-center w-[270px] h-[130px] rounded-[40px] bg-white">
          <div class="w-full flex flex-row justify-center">
            <img src="images/sales.svg" class="w-6 h-6 inline-block mr-2" alt="dashboard icon">
            <p class="text-medium font-semibold text-left text-black">
              Today Sales
            </p>
          </div>
          <p class="w-full h-[38px] text-[25px] font-semibold text-center text-black">
            LKR {{totalSales}}
          </p>
        </div>
  
        <div class="flex flex-col space-y-2 justify-center w-[270px] h-[130px] rounded-[40px] bg-white">
          <div class="w-full flex flex-row justify-center">
            <img src="images/revenue.svg" class="w-6 h-6 inline-block mr-2" alt="dashboard icon">
            <p class="text-medium font-semibold text-left text-black">
              Today Revenue
            </p>
          </div>
          <p class="w-full h-[38px] text-2xl font-semibold text-center text-black">
            LKR. 4900
          </p>
        </div>
    
        <div class="flex flex-col space-y-2 justify-center w-[270px] h-[130px] rounded-[40px] bg-white">
          <div class="w-full flex flex-row justify-center">
            <img src="images/appointments.svg" class="w-6 h-6 inline-block mr-2" alt="dashboard icon">
            <p class="text-medium font-semibold text-left text-black">
             Appointments Today
            </p>
          </div>
          <p class="w-full h-[38px] text-2xl font-semibold text-center text-black">
          {{ appointments.length }}
          </p>
        </div>
    
        <div class="flex flex-col space-y-2 justify-center w-[270px] h-[130px] rounded-[40px] bg-white">
          <div class="w-full flex flex-row justify-center">
            <img src="images/employees.svg" class="w-6 h-6 inline-block mr-2" alt="dashboard icon">
            <p class="text-medium font-semibold text-left text-black">
              Active Employees
            </p>
          </div>
          <p class="w-full h-[38px] text-2xl font-semibold text-center text-black">
            {{ employees.length }}
          </p>
        </div>
      </div>
        <div class="w-full bg-white mt-6 rounded-[30px] p-6">
          <div class="flex flex-row items-center justify-between">
            <h1 class="text-xl font-semibold text-black">Today's Appointments</h1>
            <div>
              <input 
              [(ngModel)]="searchText"
            (input)="filterAppointments()"
              type="text" class="py-3 px-6 rounded-[30px] border border-gray-400" placeholder="Search...">
            </div>
          </div>
          <table class="w-full mt-6 rounded-[30px]">       
            <thead>
              <tr>
                <th class="py-4 px-2 border-b-2 border-gray-200 text-left text-medium font-semibold text-gray-700">Appointment Id</th>
                <th class="py-4 px-2 border-b-2 border-gray-200 text-left text-medium font-semibold text-gray-700">Client Name</th>
                <th class="py-4 px-2 border-b-2 border-gray-200 text-left text-medium font-semibold text-gray-700">Branch</th>
                <th class="py-4 px-2 border-b-2 border-gray-200 text-left text-medium font-semibold text-gray-700">Contact</th>
                <th class="py-4 px-2 border-b-2 border-gray-200 text-left text-medium font-semibold text-gray-700">Start</th>
                <th class="py-4 px-2 border-b-2 border-gray-200 text-left text-medium font-semibold text-gray-700">End</th>
                <th class="py-4 px-2 border-b-2 border-gray-200 text-left text-medium font-semibold text-gray-700">Payment Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let appointment of filteredAppointments | paginate : { itemsPerPage: 4, currentPage: currentPage }">
                <td class="py-4 px-2 border-b border-gray-200 text-sm text-gray-700">#{{appointment.appointment_id}}</td>
                <td class="py-4 px-2 border-b border-gray-200 text-sm text-gray-700">{{appointment.name}}</td>
                <td class="py-4 px-2 border-b border-gray-200 text-sm text-gray-700">{{appointment.branch_name}}</td>
                <td class="py-4 px-2 border-b border-gray-200 text-sm text-gray-700">{{appointment.contact}}</td>
                <td class="py-4 px-2 border-b border-gray-200 text-sm text-gray-700">{{appointment.start_time}}</td>
                <td class="py-4 px-2 border-b border-gray-200 text-sm text-gray-700">{{appointment.end_time}}</td>
                <td class="py-4 px-2 border-b border-gray-200 text-sm text-gray-700">{{appointment.payment_status}}</td>
              </tr>
          </tbody>
          </table>
          <div class="flex flex-row justify-end mt-6">
            <pagination-controls
             (pageChange)="currentPage = $event"
             previousLabel="Previous"
             nextLabel="Next">
            </pagination-controls>
          </div>
        </div>
    </div>
  </div>
</div>
    
